@model IEnumerable<GoGaming.Models.ComunidadViewModel>
@using PracticaDSMGenNHibernate.EN.DSMPracticas;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Go-Gaming<img src="~/Images/logo.png" width="40" height="40" /></h2>
<br />


@using (Html.BeginForm("Buscar", "Juego", FormMethod.Post, null))
{

    <div class="form-inline" align="center">
        <div class="form-group pl-2">
            <input type="search" class="form-control" id="text" name="nom" placeholder="Introduce un juego...">
        </div>
        <button type="submit" class="btn btn-primary" style="color:#FFFFFF"> <span class="glyphicon glyphicon-search"></span> Buscar</button>

    </div>

    <br />
}
